!!! 5
html
  head
      <script src="../js/bootstrap.js"></script>
    title= pageName
  body
    ol#shoppingItems
      for shoppingItem in shoppingItems
          li User #{shoppingItem.userName} bookmarked #{shoppingItem.url} to view in store.